.v-test
	h1 Testeo de componentes
	MenuPestanas
		template(slot='tabcontent1')
			p texto prueba item 1
		template(slot='tabcontent2')
			p texto prueba item 2
		template(slot='tabcontent3')
			p texto prueba item 3
	MiniCard(name="Pedro")
	CardPersona(img="https://image.flaticon.com/icons/svg/2741/2741163.svg" name="Andrea" description="Enfermera luchando actualmente contra el Covid-19"  :rrss="[{url:'https://es-es.facebook.com/'}]")