.v-test
	h1 Testeo de componentes
	MenuPestanas
		template(slot='tabcontent1')
			p texto prueba item 1
		template(slot='tabcontent2')
			p texto prueba item 2
		template(slot='tabcontent3')
			p texto prueba item 3
	MiniCard(name="Pedro")
	CardPersona(:img="sampleCardPersona.img"  :name="sampleCardPersona.name"  :description="sampleCardPersona.description"  :rrss="sampleCardPersona.rrss")