.v-people-detail
	MyTitle(:title="sampleMyTitle.title")
	CardPersona(:img="speakerDetail.img"  :name="speakerDetail.name"  :description="speakerDetail.description"  :rrss="speakerDetail.rrss"  :type="correctorColor")
