.card-persona
	width 18rem
	height 20rem
	margin 2rem
	background-color #fff
	border-radius 0.4rem
	box-shadow 0 0 0.5rem #706c61
	&__index
		width 100%
		height 100%
		display flex
		flex-direction column
		justify-content space-around
		padding 0.6rem 1rem
		position relative
	&__img-wrapper, &__text
		height 8rem
	&__img-wrapper
		width 8rem
		border-radius 50%
		overflow hidden
		position relative
		left calc(50% - 4rem)
	&__img
		width 100%
		height 100%
	&__text
		text-align center
		padding 1.5rem 0
	&__name
		font-size 1.5rem
		font-height 2rem
		font-weight 600
	&__description
		font-size 1rem
		font-height 2rem
		color #444
	&__rrss
		height 4rem
		display flex
		justify-content space-around
		align-items center
		border-top 0.1rem solid #706c61
	&__rrss-fb, &__rrss-twitter, &__rrss-in, &__rrss-item
		width 1.875rem
		height 1.875rem
