div.card-persona(:class="getColor(type)")
	.card-persona__index
		.card-persona__img-wrapper
			img.card-persona__img(:src="img")
		.card-persona__text
			p.card-persona__name {{ name }}
			p.card-persona__description {{ description }}
			p.borrar-este-parrafo {{ getColor(type) }}
		.card-persona__rrss
			a(v-for="(item, i) in rrss"  :key="'rrss'+i"  :href="item.url" target="_blank")
				img.card-persona__rrss-item(:src="item.img"  :title="item.name")
