.card-simple
	height auto
	background-color #fff
	padding 1.5rem 2.5rem
	border-radius 3rem
	box-shadow 0.5rem 0.5rem 1.5rem #222
	&__list
		list-style-type disc
		padding-left 1.1rem
		margin-bottom 0.8rem
		& > li
			display list-item
	&__title-1
		font-size 2rem
		font-weight 600
	&__title-2
		font-size 1.4rem
		font-weight 600
	&__title-3
		font-size 1.2rem
		font-weight 600
	&__tab
		padding-left 1.5rem
	&__reduced p
		font-size 0.9rem
		margin-bottom 0.6rem
	