.v-location
	.pt-7.pb-3
		MyTitle(:title="sampleMyTitle.title")
	.container.flex.pb-3
		Map(:mapConfig="sampleMap.mapConfig"  :apiKey="sampleMap.apiKey")
		ResumenDireccion(:name="sampleAddress.name"  :address="sampleAddress.address")
