//-------------------------------------------------
//                      reset
//-------------------------------------------------

*,
*::before,
*::after
	box-sizing border-box

html
	line-height 1.15
	margin 0
	padding 0
	height 100%
	width 100%

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section
	display block

body
	background-color #cddff2
	font-size 16px
	margin 0
	padding 0
	height 100%
	width 100%

h1, h2, h3, h4, h5, h6
	margin-top 0
	margin-bottom 1em

header, footer
	font-size 2rem

p
	font-size 1.6rem
	margin 0 0 .8rem 0
	padding 0

div
	margin 0
	padding 0

ol, ul
	margin 0

button
	border-radius 0
	
//-------------------------------------------------
//                    normalize
//-------------------------------------------------

h1, h2
	font-weight normal
	font-size 2rem
ul
	list-style-type none
	padding 0
li
	display inline-block
	margin 0
a
	color #0000ff
#app
	height 100%
	width 100%
main
	height 100%
	width 100%