nav.menu-nav(:class="[{'menu-nav--active': showMenu}]")
	.menu-nav__overlay(@click="hideMenu")
		.menu-nav__content
			ul.menu-nav__list
				li.menu-nav__list-item(v-for="(link,index) in links"  :key="index")
					router-link.menu-nav__link(:to="link.url") {{ link.text }}
