.resumen-direccion
	margin 2rem 0
	padding 0 2rem
	&__index
		padding 0.2rem 1rem
		background-color #fff
		border 0.1rem solid #B2BABB
	&__name
		font-size 2.25rem
		font-height 3rem
		font-weight 600
	&__address
		font-size 2rem
		font-height 2.5rem
		color #515A5A
