.tabla-componentes
	display block
	max-width 100%
	max-height 25rem
	border 0.2rem solid #444
	margin 0.6rem 0
	overflow auto
	&__table
		width 100%
		border-collapse border-collapse
		border 0.2rem solid #CCC
	&__head, &__cell
		padding 0.6rem
		text-align center
	&__head
		background-color #be79df
	&__row
		background-color #fbcffc
	&__row:hover &__cell
		background-color rgba(191, 201, 202, 0.6)
		font-weight 600