.tabla-componentes
	table.tabla-componentes__table
		tr.tabla-componentes__row
			th.tabla-componentes__head(v-for="head in header") {{ head }}
		tr.tabla-componentes__row(v-for="row in data")
			td.tabla-componentes__cell(v-for="item in row")
				span.tabla-componentes__ellipsis {{ item }}
