.v-people
	&__ponentes
		max-width 68.75rem
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center
.mini-card__gradient-style1
	background-image linear-gradient(#006c6e,#0395a9 50%, #005f6b 50%)
.mini-card__gradient-style2
	background-image linear-gradient(#a0dc00 ,#d4ee01 50%, #9ad400 50%)
.mini-card__gradient-style3
	background-image linear-gradient(#e50876 ,#f40dba 50%, #e50876 50%)
.mini-card__gradient-style4
	background-image linear-gradient(#069bff ,#06d1ff 50%, #038bff 50%)
.mini-card__gradient-style5
	background-image linear-gradient(#ff8300 ,#ffb403 50%, #ff7300 50%)
.mini-card__gradient-style6
	background-image linear-gradient(#c6c501 ,#E6E402 50%, #c4bf01 50%)
.mini-card__underline1
	text-decoration-color #005f6b
.mini-card__underline2
	text-decoration-color #9ad400
.mini-card__underline3
	text-decoration-color #e50876
.mini-card__underline4
	text-decoration-color #038bff
.mini-card__underline5
	text-decoration-color #ff7300
.mini-card__underline6
	text-decoration-color #c4bf01
