.menu-pestanas
	display flex
	height 10rem
	background-color #fff
	position relative
	&__item
		height 3rem
		padding 1rem
		background-color #444
	&__title
		font-size 1rem
		font-height 1rem
		color #fff
	&__text
		padding-left 0.4rem
		font-size 1rem
		font-height 1rem
		position absolute
		align-self center
		color #000
	&__nombre-feo
		display none
		&--active
			display block