.menu-pestanas
	display flex
	flex-direction column
	padding 8.2rem 9.45rem
	&__index
		align-self flex-start
	&__item
		width 13rem
		height 3.1rem
		text-align center
		box-sizing border-box
		padding 0.8rem 0
		border-radius 1.5rem 1.5rem 0 0
		background-color #e50876
		cursor pointer
		color #fff
		&:nth-of-type(2)
			background-color #9bd400
		&:nth-of-type(3)
			background-color #ff7300
		&--active
			color #000
		&:hover
			color #000
	&__title
		font-family Arial
		font-size 1.5rem
		font-height 1rem
		font-weight 900
		text-transform uppercase
	&__slots
		width 100%
		min-height 10rem
		background-color #a6ccc7
		padding 0 0.75rem
		box-shadow 0.5rem 0.5rem 1.5rem #444
	&__slots-block
		font-size 1rem
		font-height 1rem
		color #000
		display none
		&--active
			display block
