.menu-pestanas
	display flex
	flex-direction column
	&__index
		align-self flex-end
	&__item
		padding 0.8rem 2rem
		border-radius 0.6rem 0 0 0
		background-color #fcf7bb
		cursor pointer
		position relative	
		&:nth-of-type(1)
			z-index 1
			transform translate(0.8rem)
		&:nth-of-type(2)
			z-index 3
			transform translate(0.4rem)
			background-color #cbe2b0
		&:nth-of-type(3)
			z-index 6
			background-color #f19292
		&:hover
			box-shadow 0 0 0.4rem inset #000
	&__title
		font-size 1rem
		font-height 1rem
		font-weight 600
	&__slots
		width 100%
		height 10rem
		background-color #fff
		padding 1rem
	&__slots-block
		padding-left 0.4rem
		font-size 1rem
		font-height 1rem
		color #000
		display none
		&--active
			display block
