nav.menu-pestanas
	.menu-pestanas__item
		h1.menu-pestanas__title item1
	.menu-pestanas__item
		h1.menu-pestanas__title item2
	.menu-pestanas__item
		h1.menu-pestanas__title item3
	p.menu-pestanas__text(slot-scope="valor") {{ valor.nombre }}
