.mini-card
	width 18rem
	margin-top 2rem
	&__index
		width 100%
		display flex
		justify-content space-around
		padding 0.2rem 1rem
		background-color #fff
	&__img-wrapper
		flex 0 1 2.5rem
		height 2.5rem
		border-radius 50%
		overflow hidden
	&__img
		width 100%
		height 100%
	&__name-wrapper
		flex 0 1 70%
		position relative
	&__name
		font-size 1.5rem
		font-height 2rem
		position absolute
		top calc(50% - 0.844rem)
