div.mini-card(@click="$emit('minicardClicked')"  :class="getColor(type)")
	.mini-card__index
		.mini-card__img-wrapper
			.mini-card__img-background
				img.mini-card__img(:src="image")
		p.mini-card__name {{ name }}
