.v-info
	height 90%
	display flex
	justify-content center
	align-items center
	&__dev
		width 50%
		height 50%
		background-color #fff
		display flex
		flex-direction column
		align-items center
		padding 2.5rem 0
		box-shadow 0.2rem 0.2rem 0.5rem #444, -0.2rem -0.2rem 0.5rem #444
	&__text
		padding-bottom 2.5rem
