.v-info
	display flex
	flex-direction column
	justify-content center
	align-items center
	&__text
		font-size 1.5rem
		line-height 2rem
		text-transform uppercase
		color #fff
		padding-top 2rem
.card-simple__title
	width 9.5rem
	margin-bottom 0.5rem
	font-size 1.5rem
	position relative
	border-bottom 0.2rem solid #1b5e5b
	&:nth-of-type(3)
		width 12.5rem
	&:nth-of-type(5)
		width 11rem
	&::after
		content ''
		width 0.5rem
		height 0.5rem
		background-color #1b5e5b
		border-radius 50%
		position absolute
		top 0.75rem
		left -1rem
.card-simple__paragraph
	font-size 1rem
	margin-bottom 0.5rem
//---------------------- resolución del componente CardSimple-----------------------
.md
	width 29rem
.lg
	width 68.75rem
