.v-info
	.pt-7.pb-1
		MyTitle(:title="sampleMyTitle.title")
		p.v-info__text Proyecto creado y desarrollado por:
	.pb-3
		CardSimple(size='md')
			template(slot='infocontent')
				p.card-simple__title Daniel Ugarte
				p.card-simple__paragraph Programador front-end.
				p.card-simple__title Marcos Rodríguez
				p.card-simple__paragraph Programador junior.
				p.card-simple__title Laura González
				p.card-simple__paragraph Diseñadora gráfica.
	.mx-8.pb-3
		CardSimple(size='lg')
			template(slot='infocontent')
				p.card-simple__title-1 Resumen y detalles del proyecto
				hr
				p Este proyecto se ha desarrollado para adquirir o mejorar los conocimientos de las distintas personas implicadas.
				p Existen todavía muchas mejoras que se podrían desarrollar (como mejorar el responsive, entre otras), pero no estaba en los requisitos de este proyecto.
				p.card-simple__title-2 Tecnologías empleadas
				ul.card-simple__list
					li html
					li css
					li js
					li vue.js
					li pug
					li stylus
					li vuex
					li vue-router
					li google maps
					li trello
					li photoshop
				p.card-simple__title-2 Funciones realizadas o mejoradas por cada persona:
				p.card-simple__title-3 Daniel Ugarte
				ul.card-simple__list
					li Mejora de los conocimientos de elaboración de tarjetas reducidas y claras para las distintas tareas de desarrollo
					li Iniciación al sistema de estimación de tiempos
					li Revisión y corrección de las tareas
					li Elaboración del informe
					li Mejora de los conocimientos sobre vue.js
					li Coordinación de tareas tanto de trello como de git
					li Creación de una pequeña librería para simular un servidor
				p.card-simple__title-3 Marcos Rodríguez
				ul.card-simple__list
					li Aprendizaje sobre html, css, y js a nivel de desarrollo de proyecto (nivel básico pero independiente)
					li Introducción a vue.js
					li Inicio en la estimación de tareas
					li Aprendizaje del sistema de control de versiones git (mediante consola de comandos)
					li Iniciación al gitflow y al sistema de ramas
				p.card-simple__title-3 Laura González
				ul.card-simple__list
					li Creación del diseño en base a un proyecto previo ya desarrollado
					li Modifación de distintos cambios según petición de cliente
				p.card-simple__title-2 Resumen de tiempos
				p.card-simple__title-3 Daniel Ugarte
				p tiempo de estimación total: --
				p tiempo de desarrollo total: --
				p.card-simple__title-3 Marcos Rodríguez
				p tiempo de estimación total: --
				p tiempo de desarrollo total: --
				p.card-simple__title-3 Laura González
				p tiempo de estimación total: --
				p tiempo de desarrollo total: --
				Expansible(button="Mostrar/Ocultar tareas de Trello")
					.card-simple__reduced
						p R001 - Crear proyecto y repositorio
						p.card-simple__tab TE: 8horas
						p.card-simple__tab TD: 4horas
						p.card-simple__tab realizado por: Daniel Ugarte
						p R002 - Crear wireframes de vistas y componentes
						p.card-simple__tab TE: 8horas
						p.card-simple__tab TD: 12horas
						p.card-simple__tab realizado por: Daniel Ugarte
						p R003 - Crear vista de test
						p.card-simple__tab TE: 2horas
						p.card-simple__tab TD: 2horas
						p.card-simple__tab realizado por: Daniel Ugarte
						p R004 - Crear componente menu lateral
						p.card-simple__tab TE: 4horas
						p.card-simple__tab TD: 2horas
						p.card-simple__tab realizado por: Daniel Ugarte
						p R005 - Crear componente tabla de contenidos
						p.card-simple__tab TE: 40minutos
						p.card-simple__tab TD: 1hora 15minutos
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R006 - Crear componente menu de pestañas
						p.card-simple__tab TE: 8horas
						p.card-simple__tab TD: 16horas
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R007 - Crear componente minicard de persona
						p.card-simple__tab TE: 20minutos
						p.card-simple__tab TD: 35minutos
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R008 - Añadir cdn de iconos
						p.card-simple__tab TE: 1hora
						p.card-simple__tab TD: 1hora
						p.card-simple__tab realizado por: Daniel Ugarte
						p R009 - Crear componente card de persona
						p.card-simple__tab TE: 40minutos
						p.card-simple__tab TD: 4horas
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R010 - Crear componente de google maps
						p.card-simple__tab TE: 8horas
						p.card-simple__tab TD: 8horas
						p.card-simple__tab realizado por: Daniel Ugarte
						p R011 - Crear componente resume de dirección
						p.card-simple__tab TE: 40minutos
						p.card-simple__tab TD: 30minutos
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R012 - Crear vista sesiones
						p.card-simple__tab TE: 2horas
						p.card-simple__tab TD: 2horas
						p.card-simple__tab realizado por: Daniel Ugarte
						p R013 - Crear vista ponentes
						p.card-simple__tab TE: 1horas
						p.card-simple__tab TD: 1horas
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R014 - Crear vista detalle de ponente
						p.card-simple__tab TE: 3horas
						p.card-simple__tab TD: 16horas
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R015 - Crear vista location
						p.card-simple__tab TE: 30minutos
						p.card-simple__tab TD: 30minutos
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R016 - Crear vista info/about
						p.card-simple__tab TE: 30minutos
						p.card-simple__tab TD: 30minutos
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R017 - Crear falso servidor
						p.card-simple__tab TE: 8horas
						p.card-simple__tab TD: 12horas
						p.card-simple__tab realizado por: Daniel Ugarte
						p R019 - Crear componente de titulo de página
						p.card-simple__tab TE: 30minutos
						p.card-simple__tab TD: 30minutos
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R020 - Crear la rama release
						p.card-simple__tab TE: 1hora
						p.card-simple__tab TD: 10minutos
						p.card-simple__tab realizado por: Daniel Ugarte
						p R021 - Adaptar el diseño del menu lateral
						p.card-simple__tab TE: 1hora
						p.card-simple__tab TD: 2horas
						p.card-simple__tab realizado por: Daniel Ugarte
						p R022 - Adaptar el diseño de la tabla
						p.card-simple__tab TE: 8horas
						p.card-simple__tab TD: 16horas
						p.card-simple__tab realizado por: Marcos Rodríguez y Daniel Ugarte
						p R023 - Adaptar el diseño de las pestañas
						p.card-simple__tab TE: 30minutos
						p.card-simple__tab TD: 8horas
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R029 - Adaptar el diseño de lalocalización
						p.card-simple__tab TE: 1hora
						p.card-simple__tab TD: 1hora
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R030 - Adaptar el diseño del componente del about
						p.card-simple__tab TE: 1hora
						p.card-simple__tab TD: 2horas
						p.card-simple__tab realizado por: Marcos Rodríguez
						p R031 - Incluir nuevo componente para informe del proyecto según el diseño
						p.card-simple__tab TE: 15minutos
						p.card-simple__tab TD: 20minutos
						p.card-simple__tab realizado por: Marcos Rodríguez y Daniel Ugarte