.v-info
	.pt-7.pb-1
		MyTitle(:title="sampleMyTitle.title")
		p.v-info__text Proyecto creado y desarrollado por:
	.pb-3
		CardSimple(:size='md')
			template(slot='infocontent')
				p.card-simple__title Daniel Ugarte
				p.card-simple__paragraph Jefe de programación.
				p.card-simple__title Marcos Rodríguez
				p.card-simple__paragraph Ayudante de programación.
				p.card-simple__title Laura González
				p.card-simple__paragraph Diseñadora gráfica.
	.mx-8.pb-3
		CardSimple(:size='lg')
